.container{
  background-image: linear-gradient(135deg, #8BC6EC 0%, rgb(151, 155, 226) 100%);  
  width: 250px;
  height: 666px;
  margin-top: 0px;
  border-radius: 8px;
  position:fixed;
  display: block;
  transform: scaleY(1);
  opacity: 1;
  z-index: 4;
  }
.container ul{
  list-style: none;
  color: white;
  padding: 5px;
  font-size: 15px;
}
.container li{
  margin: 30px;
  width: 220px;
  padding: 10px;
  font-weight: bold;
  transition: .10s;
}.container li:hover{
  transition: .10s;
  background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);  
  cursor: pointer;
  border-radius: 5px;
  border-right: 4px solid #6e73db;
}
.title{
  color: white;
  padding: 10px;
  text-align: center;
}
.img{
  margin-right: 10px;
  margin-bottom: -5px;
  width: 30px;
  height: 30px;
}
.imgAdm{
margin-top: 30px;
margin-left: 100px;
  width: 50px;
  height: 50px;

}
.containerOf{
  display: none;
  transform: scaleY(0);
  opacity: 0;
}

.btnMenu{
  margin-top: 10px;
  margin-left: 10px;
  background-color: #6e73db;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  position: fixed;
  z-index: 4;
}
.btnMenu:hover{
  background-color: #ebecff;
  color: #6e73db;
  box-shadow: 0 2px 4px 1px #6e73db;
}

@media only screen and (max-width:  600px){
  .btnMenu{
    z-index: 5;
  }
}


