.cont{
    display: flex;
    flex-direction:column;
}
.title{
    margin-left: 300px;
    margin-top: 10px;
    margin-bottom: 20px;
    color: #9599E2;
}
.topo{
    margin-left: 300px;
}
.list{
    margin: 5px;
    display: flex;
    list-style: none;
    justify-content: space-between;
    padding: 5px;
    background-color: white;
    box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.2);
    width: 550px;
    font-weight: bold;
    border-left: solid 3px #e29595;
}
.listtopo{
    margin: 5px;
    display: flex;
    list-style: none;
    justify-content: space-between;
    padding: 5px;
    background-color: white;
    box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.2);
    width: 550px;
    font-weight: bold;
    border-left: solid 3px #e29595;
    background-image: linear-gradient(135deg, #ffffff 0%, #ebebeb 100%); 
}
.btn{
    color: white;
    background-color: rgb(211, 6, 6);
    border: none;
    padding: 5px;
    border-radius: 4px;
    cursor: pointer;
}
.form{
    margin-left: 300px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.label{
    font-weight: bold;
    padding: 5px;
    margin: 5px;
    border-radius: 4px;
    color: #e29595;
}
.input{
    border: none;
    background-color: #e2959552;
    border-bottom: 2px solid #e29595;
    font-weight: bold;
    padding: 3px;
    border-radius: 4px;
}
.input:focus{
    box-shadow: 0 0 1em #e29595;
    border: 1px solid #e29595;
    outline: 0;
}
.btngo{
    padding: 3px;
    margin: 5px;
    cursor: pointer;
    border: none;
    background-color: #e29595;
    border-radius: 4px;
    transition: .10s;
    color: white;
}
.btngo:hover{
    background-color: #ffffff;
    box-shadow: 0 2px 4px 1px #e29595;
    transition: .10s;
    color: #e29595;
}
@media only screen and (max-width:  600px){
    .title{
        margin-left: 10px;
       margin-top: 50px;
    }
    .form{
        margin-left: 10px;
        margin-right: 10px;
        display: flex;
        flex-direction:column;
    }
    .topo{
        margin-left: 10px;
    }
    .list{
        width: 460px;
    }
    .listtopo{
        width: 460px;
    }
}